{% block body %}
    <div class="form">
        <form class="vertical" action="{{ path('fos_oauth_server_authorize', {
            'client_id' : app.request.parameters.get('client_id'),
            'response_type' : app.request.parameters.get('response_type'),
            'redirect_uri' : app.request.parameters.get('redirect_uri'),
            'state' : app.request.parameters.get('state'),
            'scope' : app.request.parameters.get('scope'),
        }) }}" method="POST"  {{ form_enctype(form) }}>
            <div class="form_title">
                Grant access to {{ client.name }}?
            </div>
            {{ form_widget(form) }}
            <div class="form_button">
                <input type="submit" value="Authorize" />
            </div>
        </form>
    </div>
{% endblock body %}
