# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/assetic/*
web/js
web/css

# Configuration files
app/config/parameters.yml
/nbproject/

composer.phar
src/*/*/Resources/public/components/*

npm-debug.log