<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets
                "@bootstrap_css" %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <a class="brand" href="#">SrcumBag</a>
                    <ul class="nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>

                    <form class="navbar-form pull-right">
                        <input type="text" class="search-query" placeholder="Filter">
                    </form>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    coucou
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}
            {% javascripts
                "@jquery_js"
                "@bootstrap_js" %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
