<!DOCTYPE html>
<html ng-app="scrumbag">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {% stylesheets filter="less"
                "@bootstrap_css"
                "@toastr_css"
                "@SbAppBundle/Resources/public/less/front.less" %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <style type="text/css">[ng\:cloak], [ng-cloak], .ng-cloak { display: none; }</style>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <a class="brand" href="#">SrcumBag</a>
                    <ul class="nav pull-left">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>

                    <ul class="nav pull-right">
                        <li>
                            <a href="#">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% block container %}

            {% endblock container %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts
                "@jquery_js"
                "@angular_js"
                "@toastr_js"
                "@SbAppBundle/Resources/public/components/angular-ui-utils/modules/keypress/keypress.js"
                "@SbAppBundle/Resources/public/js/tools.js"
                "@SbAppBundle/Resources/public/js/front.js" %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

        {% block ngcontrollers %}

        {% endblock ngcontrollers %}
    </body>
</html>
